.todo-list input,
.todo-list button
{ outline: none; }

.todo-list {
  max-width: 300px;
}
.task-item {
  display: flex;
  align-items: center;
}

.task-note p 
{ border: 2px solid #b4b4b4; }
.task-note input,
.task-note input:focus 
{ border: 2px solid #000; }
.task-note p, 
.task-note input 
{
  border-radius: 0.3em;
  width: 200px;
  padding: 0.3em;
  margin: 1em 0.5em;
}

.task-check {
  --size: 20px;
  border: 2px solid #000;
  border-radius: 0.3em;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}

.complete { display: none; }
.complete:checked + label {
  background: green;
  display: grid;
  place-content: center;
}
.complete:checked + label::before {
  content: '✔';
  color: #e3e3e3;
}

.delete {  
  border: none;
  border-radius: 0.3em;
  background: #b4b4b4;
}
.delete:hover,
.delete:focus
{ 
  background: red;
  color: #e3e3e3;
}
.delete:active {
  background: darkred;
}